<!-- Products Title -->
<div id="services" class="jumbotron no-gutters mb-0 mt-5">

    <!-- Title -->
    <div class="dade-content y-sec px-5" style="padding-bottom: 2em !important">
        <article id="title" class="animated">
            <h1 class="text-center display-4">Our Products</h1>
            <p class="lead">Our building components are engineered to provide time, labor, material and cost savings over conventional products.</p>
            <p class="lead">Manufactured in a controlled environment using the latest computer technology, modern plant facilities and advanced equipment, Building Components Group, Inc. produces the highest quality components in the industry.</p>
        </article>
    </div>
</div>

<!-- Product -->
<div class="dade-content">
    <div class="accordion my-5" id="accordionExample">
        
        <!-- Metal Roof Trusses -->
        <div class="card">

            <!-- Header -->
            <div class="card-header text-center" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Metal Roof Trusses
                    </button>
                </h2>
            </div>
        
            <!-- Body -->
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">

                    <!-- Title -->
                    <div class="row mt-5">
                        <div class="col">
                            <article class="text-left">
                                <h4 style="color: #005b9c">Key Benefits of Metal Roof Trusses</h4>
                            </article>
                        </div>
                    </div>

                    <!-- Text -->
                    <div class="row">

                        <!-- Left Collumn -->
                        <div class="col-sm-12 col-md-6 col-lg-6 mt-2">
                            
                            <!-- First paragraph -->
                            <article class="text-justify">
                                <p>Light gauge steel roof trusses have proven to be the building industry’s answer for a highly engineered, totally non-combustible and environmentally friendly alternative to traditional building materials. Consistent structural performance, flexibility in design, and cost-effective fabrication and delivery make cold formed light gauge steel trusses an excellent solution for roof systems.</p>
                            </article>
                            
                            <!-- Second paragraph -->
                            <div class="row align-items-center">
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <img src="content/img/products1.jpg" width="100%" alt="">
                                </div>
                                <article class="col-sm-12 col-md-12 col-lg-6 text-justify">
                                    <p><em>Consistent structural performance, flexibility in design, and cost-effective fabrication make cold formed light gauge steel trusses an excellent solution for roof systems. Building Components Group, Inc. is an authorized fabricator of Aegis Metal Framing light gauge steel roof trusses.</em></p>
                                </article>
                            </div>

                            <!-- Links -->
                            <div class="row mt-1">
                                <div class="col">
                                    <article class="text-center">
                                        <h5 style="color: #005b9c">More information</h5>
                                    </article>
                                </div>
                            </div>
                            <div class="row align-items-center text-center">
                                <div class="col-sm-12 col-md-9 col-lg-7">
                                    <a href="http://www.aegismetalframing.com/Technical/Detail-Library.html">Technical Details of UltraSpan® trusses available in AutoCAD and PDF downloads</a>
                                </div>
                                <div class="col-sm-12 col-md-3 col-lg-5">
                                    <a href="http://www.aegismetalframing.com/Technical/UL-Assemblies.html">Technical UL Assemblies</a>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <a href="http://www.aegismetalframing.com/Technical/Download-Installation-Video.html">Download videos covering some of the basics of light gauge truss installation, including lifting, anchoring and bracing.</a>
                                </div>
                            </div>
                        </div>

                        <!-- Right Collumn -->
                        <div class="col-sm-12 col-md-6 col-lg-6 mt-2">
                            <article>
                                <ul>
                                    <li>Does not warp, twist, bow, shrink, swell, shift or rot.</li>
                                    <li>Virtually limitless roof and ceiling profiles that can accommodate almost any roof geometry.</li>
                                    <li>100% non-combustible support.</li>
                                    <li>“GREEN SYSTEMS” produced from recycled steel.</li>
                                    <li>Mold- and termite-resistant.</li>
                                    <li>High strength-to-weight ratio maximizes building design flexibility and provides rigid structural integrity.</li>
                                    <li>Fabricated in controlled environment to ensure quality, consistency and safety.</li>
                                </ul>
                            </article>
                            <article class="text-justify">
                                <p>Light-weight and easy to handle, metal trusses are 100% non-combustible "green systems" offering the most versatile solution for architecturally appealing, sustainable structures that meet and exceed fire code requirements.</p>

                                <p>Using recycled LEED-friendly, uniform quality materials, our light gauge steel trusses are pre-engineered and pre-fabricated by experienced truss professionals committed to delivering quality, value and performance.</p>

                                <p>Building Components Group, Inc. utilizes the cutting-edge design software and professional engineering services of Aegis Metal Framing.  Additional technical support is available through the links below.  These print and on-line educational resources and tools are designed to help you and your installers achieve an on-time, on-budget performance. </p>
                            </article>
                        </div>
                    </div>

                    <!-- Gallery -->

                    <!-- Tittle -->
                    <div class="row mt-1">
                        <div class="col">
                            <article class="text-center">
                                <h5 style="color: #005b9c">Gallery</h5>
                            </article>
                        </div>
                    </div>
                    
                    <!-- Image cards -->
                    <div class="row mt-1">
                        <div class="col">
                            <div class="card-columns">
                                <div class="card text-white">
                                    <img id="1" src="content/img/gal1t.jpg" class="card-img jsImgThumb" data-toggle="modal" data-target="#modal" alt="...">
                                    <!-- <div class="card-img-overlay">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <p class="card-text">Last updated 3 mins ago</p>
                                    </div> -->
                                </div>
                                <div class="card text-white">
                                    <img id="2" src="content/img/gal2t.jpg" class="card-img jsImgThumb" data-toggle="modal" data-target="#modal" alt="...">
                                    <!-- <div class="card-img-overlay">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <p class="card-text">Last updated 3 mins ago</p>
                                    </div> -->
                                </div>
                                <div class="card text-white">
                                    <img id="3" src="content/img/gal3t.jpg" class="card-img jsImgThumb" data-toggle="modal" data-target="#modal" alt="...">
                                    <!-- <div class="card-img-overlay">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <p class="card-text">Last updated 3 mins ago</p>
                                    </div> -->
                                </div>
                                <div class="card text-white">
                                    <img id="4" src="content/img/gal4t.jpg" class="card-img jsImgThumb" data-toggle="modal" data-target="#modal" alt="...">
                                    <!-- <div class="card-img-overlay">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <p class="card-text">Last updated 3 mins ago</p>
                                    </div> -->
                                </div>
                                <div class="card text-white">
                                    <img id="5" src="content/img/gal5t.jpg" class="card-img jsImgThumb" data-toggle="modal" data-target="#modal" alt="...">
                                    <!-- <div class="card-img-overlay">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <p class="card-text">Last updated 3 mins ago</p>
                                    </div> -->
                                </div>
                                <div class="card text-white">
                                    <img id="6" src="content/img/gal6t.jpg" class="card-img jsImgThumb" data-toggle="modal" data-target="#modal" alt="...">
                                    <!-- <div class="card-img-overlay">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <p class="card-text">Last updated 3 mins ago</p>
                                    </div> -->
                                </div>
                                <div class="card text-white">
                                    <img id="7" src="content/img/gal7t.jpg" class="card-img jsImgThumb" data-toggle="modal" data-target="#modal" alt="...">
                                    <!-- <div class="card-img-overlay">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <p class="card-text">Last updated 3 mins ago</p>
                                    </div> -->
                                </div>
                                <div class="card text-white">
                                    <img id="8" src="content/img/gal8t.jpg" class="card-img jsImgThumb" data-toggle="modal" data-target="#modal" alt="...">
                                    <!-- <div class="card-img-overlay">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <p class="card-text">Last updated 3 mins ago</p>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <!-- Wood Roof Trusses -->
        <div class="card">

            <!-- Header -->
            <div class="card-header text-center" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    Wood Roof Trusses
                    </button>
                </h2>
            </div>
        
            <!-- Body -->
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">

                    <!-- Title -->
                    <div class="row mt-5">
                        <div class="col">
                            <article class="text-left">
                                <h4 style="color: #005b9c">Key Benefits of WOOD Roof Trusses</h4>
                            </article>
                        </div>
                    </div>
    
                    <!-- Text -->
                    <div class="row align-items-center">

                        <!-- Left Collumn -->
                        <div class="col-sm-12 col-md-6 col-lg-5 mt-2">
                            
                            <!-- Left paragraph -->
                            <div class="row align-items-center">
                                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                                    <img src="content/img/products2.jpg" width="80%" alt="">
                                </div>
                                <article class="col-sm-12 col-md-12 col-lg-12 text-center mt-2">
                                    <p>Wood trusses are manufactured at our facilities in <a href="http://bcg.bz/orlando-sanford.html">Orlando-Sanford, Miami</a> and <a href="http://bcg.bz/ft__myers.html">Ft. Myers.</a></p>
                                    <p>Additional Information: <a href="http://bcg.bz/MitekRoofTechnology.html">The World of Roof Technology</a>, by MiTek</p>
                                </article>
                            </div>
                        </div>

                        <!-- Right Collumn -->
                        <div class="col-sm-12 col-md-6 col-lg-7 mt-2">
                            <ul>
                                <li>Stronger and capable of much larger spans than dimensional lumber.</li>
                                <li>Ability to be creatively designed for a variety of distinctive roof shapes.</li>
                                <li>Light in weight but capable of carrying heavy loads.</li>
                                <li>Designed to eliminate deflections, providing level ceilings and less chance of plaster or drywall cracks.</li>
                                <li>Able to withstand greater loads than conventional framing.</li>
                                <li>Long, clear spans provide more flexibility in placing interior walls, beams and columns.</li>
                                <li>Expand vaulting options and decrease internal load bearings.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Wood Floor Trusses -->
        <div class="card">

            <!-- Header -->
            <div class="card-header text-center" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    Wood Floor Trusses
                    </button>
                </h2>
            </div>
        
            <!-- Body -->
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    
                    <!-- Title -->
                    <div class="row mt-5">
                        <div class="col">
                            <article class="text-left">
                                <h4 style="color: #005b9c">Wood Floor Trusses</h4>
                            </article>
                        </div>
                    </div>
    
                    <!-- Text -->
                    <div class="row align-items-center">

                        <!-- Left Collumn -->
                        <div class="col-sm-12 col-md-6 col-lg-7 mt-2">
                            <ul>
                                <li>Stronger and capable of much larger spans than dimensional lumber.</li>
                                <li>Ability to be creatively designed for a variety of distinctive roof shapes.</li>
                                <li>Light in weight but capable of carrying heavy loads.</li>
                                <li>Designed to eliminate deflections, providing level ceilings and less chance of plaster or drywall cracks.</li>
                                <li>Able to withstand greater loads than conventional framing.</li>
                                <li>Long, clear spans provide more flexibility in placing interior walls, beams and columns.</li>
                                <li>Expand vaulting options and decrease internal load bearings.</li>
                            </ul>
                        </div>

                        <!-- Right Collumn -->
                        <div class="col-sm-12 col-md-6 col-lg-5 mt-2">
                            <div class="row align-items-center">
                                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                                    <img src="content/img/products3.jpg" width="80%" alt="">
                                </div>
                                <article class="col-sm-12 col-md-12 col-lg-12 text-center mt-2">
                                    <p>Wood trusses are manufactured at our facilities in <a href="http://bcg.bz/orlando-sanford.html">Orlando-Sanford, Miami</a> and <a href="http://bcg.bz/ft__myers.html">Ft. Myers.</a></p>
                                    <p>Additional Information: <a href="http://bcg.bz/MitekRoofTechnology.html">The World of Roof Technology</a>, by MiTek</p>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Stairs & Railings -->
        <div class="card">
            <div class="card-header text-center" id="headingFour">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                    Stairs & Railings
                    </button>
                </h2>
            </div>
        
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">

                    <!-- Title -->
                    <div class="row mt-5">
                        <div class="col">
                            <article class="text-left">
                                <h4 style="color: #005b9c">Stairs & Railings</h4>
                            </article>
                        </div>
                    </div>
    
                    <!-- Text -->
                    <div class="row align-items-center">

                        <!-- Left Collumn -->
                        <div class="col-sm-12 col-md-6 col-lg-7 mt-2">
                            <ul>
                                <li>The most efficient and cost effective method of stair building.</li>
                                <li>Pre-fabrication in our factory allows for greater precision and cost saving over job-built stairs.</li>
                                <li>Provides a significant cost advantage over steel and concrete stairs.</li>
                                <li>Easily adapts to upgrade treads, risers, and railing systems.</li>
                            </ul>
                        </div>

                        <!-- Right Collumn -->
                        <div class="col-sm-12 col-md-6 col-lg-5 mt-2">
                            <img src="content/img/compa02.png" alt="DTC Stairs Logo" style="width: 80%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pressure Treated Trusses & Stairs -->
        <div class="card">
            <div class="card-header text-center" id="headingFive">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                    Pressure Treated Trusses & Stairs
                    </button>
                </h2>
            </div>
        
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">

                    <!-- Title -->
                    <div class="row mt-5">
                        <div class="col">
                            <article class="text-left">
                                <h4 style="color: #005b9c">Key Benefits of PRESSURE TREATED Trusses and Stairs</h4>
                            </article>
                        </div>
                    </div>
    
                    <!-- Text -->
                    <div class="row align-items-center">

                        <!-- Left Collumn -->
                        <div class="col-sm-12 col-md-6 col-lg-7 mt-2">
                            <ul>
                                <li>Protection against decay, fungus and wood-destroying pests such as termites.</li>
                                <li>Borate-treated wood products are safe for people, pets and the environment, and require no special handling or disposal.</li>
                                <li>Provides better quality and durability with no need for design or construction changes.</li>
                                <li>Does not adversely affect the strength properties of the treated lumber.</li>
                            </ul>
                        </div>

                        <!-- Right Collumn -->
                        <div class="col-sm-12 col-md-6 col-lg-5 text-center mt-2">
                            <img src="content/img/products4.jpg" width="70%" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button> -->


<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <img id="modalImg" style="width: 100%" src="" alt="">
    </div>
  </div>
</div>

<style>
    .productTitle {
        background-color: #6c7c88 !important;
        height: 100px !important;
    }
</style>