<!-- Products Title -->
<div id="services" class="jumbotron no-gutters mt-5">

    <!-- Title -->
    <div class="dade-content y-sec px-5" style="padding-bottom: 2em !important">
        <article id="title" class="animated">
            <h1 class="text-center display-4">Our Products</h1>
            <p class="lead">Our building components are engineered to provide time, labor, material and cost savings over conventional products.</p>
            <p class="lead">Manufactured in a controlled environment using the latest computer technology, modern plant facilities and advanced equipment, Building Components Group, Inc. produces the highest quality components in the industry.</p>
        </article>
    </div>
</div>