<!-- Services Title -->
<div id="services" class="jumbotron no-gutters mb-0 mt-5">

    <!-- Title -->
    <div class="dade-content y-sec px-5" style="padding-bottom: 2em !important">
        <article id="title" class="animated">
            <h1 class="text-center display-4">Our Services</h1>
            <p class="lead">From the planning stage to completion, Building Components Group works closely with you to ensure your project comes together as originally envisioned.</p>
            <p class="lead">We are committed to pricing it competitively, designing it right, building it with quality and delivering it on time.</p>
        </article>
    </div>

    <!-- Services -->
    <div class="container">
        <div class="row justify-content-center">

            <!-- Estimating -->
            <div class="mb-4 col-sm-12 col-md-6 col-lg-4">
                <div class="card p-3 text-center" style="height: 100%">
                    <div class="card-body">
                        <i class="fas fa-calculator mb-3" style="color: #14344b; font-size: 5em;"></i>
                        <h5 class="card-title">Estimating</h5>
                        <p class="card-text text-justify mb-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <button type="button" class="btn btn-success modalBtn" ref="0" data-toggle="modal" data-target="#serviceContent" style="width: 40%; margin: 0 auto;">Read more</button>
                </div>
            </div>

            <!-- Engineering -->
            <div class="mb-4 col-sm-12 col-md-6 col-lg-4">
                <div class="card p-3 text-center" style="height: 100%">
                    <div class="card-body">
                        <i class="fas fa-cogs mb-3" style="color: #14344b; font-size: 5em;"></i>
                        <h5 class="card-title">Engineering</h5>
                        <p class="card-text text-justify mb-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <button type="button" class="btn btn-success modalBtn" ref="1" data-toggle="modal" data-target="#serviceContent" style="width: 40%; margin: 0 auto;">Read more</button>
                </div>
            </div>

            <!-- Wood Truss Production -->
            <div class="mb-4 col-sm-12 col-md-6 col-lg-4">
                <div class="card p-3 text-center" style="height: 100%">
                    <div class="card-body">
                        <i class="fab fa-accusoft mb-3" style="color: #14344b; font-size: 5em;"></i>
                        <h5 class="card-title">Wood Truss Production</h5>
                        <p class="card-text text-justify mb-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <button type="button" class="btn btn-success modalBtn" ref="2" data-toggle="modal" data-target="#serviceContent" style="width: 40%; margin: 0 auto;">Read more</button>
                </div>
            </div>

            <!-- Quality Control / Assurance -->
            <div class="mb-4 col-sm-12 col-md-6 col-lg-4">
                <div class="card p-3 text-center" style="height: 100%">
                    <div class="card-body">
                        <i class="fas fa-house-damage mb-3" style="color: #14344b; font-size: 5em;"></i>
                        <h5 class="card-title">Quality Control / Assurance</h5>
                        <p class="card-text text-justify mb-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <button type="button" class="btn btn-success modalBtn" ref="3" data-toggle="modal" data-target="#serviceContent" style="width: 40%; margin: 0 auto;">Read more</button>
                </div>
            </div>

            <!-- Delivery -->
            <div class="mb-4 col-sm-12 col-md-6 col-lg-4">
                <div class="card p-3 text-center" style="height: 100%">
                    <div class="card-body">
                        <i class="fas fa-truck-loading mb-3" style="color: #14344b; font-size: 5em;"></i>
                        <h5 class="card-title">Delivery</h5>
                        <p class="card-text text-justify mb-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <button type="button" class="btn btn-success modalBtn" ref="4" data-toggle="modal" data-target="#serviceContent" style="width: 40%; margin: 0 auto;">Read more</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Window -->
<div class="modal fade" tabindex="-1" id="serviceContent" role="dialog" aria-labelledby="serviceContent" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">

            <!-- Header -->
            <div class="modal-header">
                <h5 class="modal-title text-center" style="margin: 0 auto"><i id="iconService" class="mb-3" style="color: #14344b;"></i>&nbsp;<span id="modalTitle"></span></h5>
            </div>

            <!-- Body -->
            <div class="modal-body container">
                <div class="row align-items-center p-5">
                    <article class="col" id="textService"></article>
                </div>
            </div>

            <!-- Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>