/* header {
    background: url('../img/banner1.jpg');
} */

.carouselItem {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 85vh !important;
}

#elem1 { background-image: url('../img/owl1.jpg') !important; }
#elem2 { background-image: url('../img/owl1.jpeg') !important; }
#elem3 { background-image: url('../img/owl2.jpeg') !important; }
#elem4 { background-image: url('../img/owl3.jpeg') !important; }

#elem1, #elem2, #elem3, #elem4 {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 20% !important;
}

/* Mobile styles */
#navbar {
    padding: 0rem 0rem !important;
    height: 130px !important;
    width: 100% !important;
    background-color: #ffffff !important;
    top: 0 !important;
}

#mobileOptions { top: 125px !important; }

#navbar .navbar-brand {
    margin: 0 auto !important;
}

#navbar .navbar-toggler {
    border: 0ch;
    color: rgba(0,0,0,.5) !important;
    margin-right: 1em !important;
}

#logo {
    width: 220px !important;
}

#navbar ul.nav, #mobileOptions ul {
    font-size: 20px !important;
}

#mobileOptions ul li {
    padding: 15px !important;
    border-bottom: 1px solid rgb(211, 211, 211) !important;
}

.jumbotron ul {
    list-style: none !important;
}

.dade-content {
    max-width: 1000px !important;
    margin: 0 auto !important;
}

.y-sec {
    padding-top: 8em !important;
    padding-bottom: 8em !important;
}

#wpBuildingComponents { position: relative; }

#wpBuildingComponents::before {
    background: url('../img/building-components.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .2;
}

/* Tablet Portrait */
@media (min-width: 576px) {
    /* #navbar { background-color: #ffffff !important; } */
    #navbar .navbar-brand {
        margin: 0px 0px 0px 2em !important;
    }

    #largeOptions {
        margin: 0px 2em 0em 0px !important;
    }

    #navbar ul.nav, #mobileOptions ul {
        font-size: 15px !important;
    }
}

/* Tablet landscape & netbooks */
@media (min-width: 768px) {
    /* #navbar { background-color: #ffffff !important; } */
    #logo {
        width: 250px !important;
    }
}

/* Small laptop */
@media (min-width: 992px) {
    /* #navbar { background-color: transparent !important; } */
    #logo {
        width: 250px !important;
    }
}

/* Medium laptops */
@media (min-width: 1201px) {
    /* #navbar { background-color: transparent !important; } */
    #logo {
        width: 300px !important;
    }
}

/* Large screens */
@media (min-width: 1600px) {
    #navbar {
        height: 130px !important;
    }

    #logo {
        width: 250px !important;
    }
}